/* .card-body{
    height: 500px;
} */
/* .row{
    width: 50%;
    margin: 0 auto;
} */
/* .card{
    width: 50%;
    margin: 0 auto;
} */

.post-card {
    box-shadow: 0 1px 2px #00000033;
    height: auto;
}

.post-card a:hover {
    color: #000;
}

.post-card .card-body {
    padding: 0;
}

.post-card .card-header {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 700;
}

.post-card .card-body .card-title {
    padding: 1rem;
}

.post-card .card-footer {
    background: none;
    margin: 0 10px;
}