.aboutImage1{
    border: 2px solid;
    width: 70%;
height: 300px;

    margin: 10px;
}
.aboutImage2{
    border: 2px solid;
    width: 70%;
height: 214px;
margin: 10px;
}
.aboutImage4{
    border: 2px solid;
    width: 70%;
height: 106px;
margin: 10px;
}
.aboutImage3{
    border: 2px solid;
    width: 70%;
height: 214px;
margin: 10px;
}
