.main-logo {
  background-color: #002749;
  color: aliceblue;
}

.navContainer {
  background-color: #007ccb;
}


h1 {
  font-size: 2.5em;
}

.bold-text {
  font-weight: bold;
}

.v_logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link {
  color: black;

}

.card-img {
  height: 500px;

}

.btnn {
  display: flex;
  justify-content: center;

}

.card_image {
  width: 100%;
  margin: 5px;
}


.Upcoming_event {
  background-color: red;
  height: 50px;
  padding-left: 20px;
  padding-top: 5px;
}

/* .row{
      margin: 20px;
  } */
.main-div {
  width: 100%;
  height: auto;
  position: relative;
  margin: 15px;

}

.gallery-image {
  border: 5px solid rgb(56, 55, 55);
  padding: 10px;
}

.About-text {
  padding: 10px;
}

.Victorian {}

.Victorian h5 {
  font-weight: 400;
}

.backdrop {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0000007c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 5px 5px 10px lightgray;

}

.backdrop:hover a {
  color: green !important;

}




/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
} */

.show_modal {
  display: block !important;
}

/* Modal Content */
/* .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
} */

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.myBtn {
  width: auto;
  box-shadow: 5px 5px 10px lightgray;
  margin: 10px;
  padding: 28px;
}

.Image-container {
  width: 100%;
  border: none;
  box-shadow: 5px 5px 10px lightgray;
}

.ifram {
  width: 100%;
  height: 100%;
}

.iframVideo {
  height: 600px;
  width: 100%;
  /* padding: 20px; */
}

@media screen and (max-width: 768px) {
  .iframVideo {
    height: 300px;
  }

  #imageModal img {
    height: 400px;
  }
}


.myVideoBtn {
  position: relative;
  width: 100%;
  height: 300px;
}

.videoOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.288); */
  cursor: pointer;
}


.ANANDAMELA {
  display: flex;
}

.submit {
  background-color: gainsboro;
  padding: 20px;
}

.about {
  background-color: #487E3C;
  text-align: center;
  color: white;
  font-weight: bold;
  /* box-shadow: 5px 0px 18px #888888; */
  border-radius: 10px;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
}

.what_we2 {
  background-color: #002749;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 20px 5px;
  width: auto;
}



.back_clor {
  background-color: #f2f2f2;
  ;
}

.photo-gallary {
  background-color: #002749;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 25px;
}

.video-channel {
  background-color: #002749;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 25px;
}

.contact-us {
  background-color: #033b6d;
  ;
}


.address {

  /* padding: 10px; */
  box-shadow: 5px 0px 18px #888888;
  margin-bottom: -30px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.hard {
  text-align: center;
}

.hossceNa {
  border: none;
  width: 100%;
  box-shadow: 5px 5px 10px lightgray;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s;
  background-color: #fff;
  padding: 20px;
}

.hossceNa img {
  height: 150px;
}



/* 768 px media quary  */



.row {}

.main-logo {
  background-color: #002749;
  color: aliceblue;
}


h1 {
  font-size: 2.5em;
}

.bold-text {
  font-weight: bold;
}

.v_logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link {
  color: black;

}

.btnn {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.large-card {
  height: 98%;
}

.Upcoming_event {
  background-color: red;
  height: 50px;
  padding-left: 20px;
  padding-top: 5px;
}

.main-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.layer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.11);
}


.more-btn {
  color: #fff;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
  align-items: center;
}



.contact-us {
  background-color: #033b6d;
  ;
}


.address>.row .col-md-4 {
  border-right: 1px solid rgb(37, 37, 37);
}

.address>.row .col-md-4:last-child {
  border: none;
}

.hard {
  text-align: center;
}

.moreBtn {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #DE6750;
  cursor: pointer;
  transition: all 0.3s;
}


.moreBtn:hover {
  background-color: #ff000da2;
}

.carousel-image {
  height: 500px;
}

@media screen and (max-width: 768px) {
  .carousel-image {
    height: 300px;
  }
}

.social-media-container .card {
  margin: 25px 0;
}